* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    min-height: 100vh;
}
header {
    font-size: 1.5rem;
}
header, form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
}
form button {
    cursor: pointer;
    background-color: #fff;
    color: #d88771;
    transition: all 0.3s ease;
}
form button:hover {
    background-color: #d88771;
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-height: 30%;
    list-style: none;
}
.todo {
    background-color: #fff;
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
.todo li {
    flex: 1;
}
.complete-btn, .trash-btn {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #d88771;
}
.complete-btn {
    background: rgb(73, 204, 73);
}
.trash-btn {
    background: rgb(231, 72, 51);
}
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.competed {
    text-decoration: line-through;
    opacity: 0.5;
}
select {
    appearance: none;
    border: none;
    outline: none;
    color:#d88771;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}
.select:after {
    content: "\25BC";
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    background-color: #d88771;
    padding: 1rem;
    transition: all 0.3s ease;
}
.select:hover::after {
    background: #fff;
    color:#d88771;
}